.container {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
  img {
    top: .1em;
    position: relative;
    width: 1rem;
  }
}
