.container {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  img {
    top: -.1em;
    position: relative;
    width: 1.2rem;
  }
}
