.header {
  padding: 8rem;
  padding-left: calc(2rem + 15%);
  color: black;
  background: var(--blue-10);
  border-bottom: 1px solid var(--blue-20);
  padding-bottom: 9rem;
}
.unit {
  font-size: var(--ms--1);
  margin-bottom: 1.5rem;
  display: block;
  span {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
    display: block;
  }
}

.title {
  font-size: 4.5rem;
  font-family: var(--serif);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
}
.intro {
  font-size: 1.5rem;
  letter-spacing: -0.01em;
  max-width: 30em;
  hyphens: auto;
}
.body {
  display: grid;
  grid-template-columns: 15% 45rem repeat(4, 1fr);
  column-gap: 2rem;
  padding-bottom: 10rem;
  position: relative;
  font-feature-settings: "onum" 1;
  p,
  ol,
  ul,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  table {
    grid-column: 2 / 3;
  }

  figure {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  ol,
  ul {
    margin-left: 1.2em;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.125em;
  }
  p {
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 1.75rem;
    margin-top: 3rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-weight: 700;
    letter-spacing: -0.015em;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.015em;
    margin-bottom: 0.125rem;
  }
  table {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  td,
  th {
    padding: 0.2rem;
    padding-left: 0;
    padding-right: 1rem;
    border-bottom: 1px solid gray;
  }
  th {
    text-transform: uppercase;
    font-size: var(--ms--1);
    text-align: left;
  }
  p sup, li sup {
    position: absolute;
    font-size: 0.8rem;
    font-family: monospace;
    a {
      text-decoration: none;
      background: transparent;
    }
  }
  strong {
    font-weight: bold;
  }
  p a,
  li a {
    text-decoration: underline;
    background: var(--yellow-10);
  }
}

.toc {
  grid-column: 3/5;
  top: 0;
  bottom: 0;
  display: none;
  position: absolute;
  padding-top: 4rem;
  ol {
    list-style: none;
    font-size: var(--ms--1);
    position: sticky;
    top: 4rem;
    border: 1px solid gray;
  }
  li {
    position: relative;
    padding-left: 1rem;
    border-bottom: 1px solid gray;
    padding: 0.25rem 0.5rem;
    &:last-of-type {
      border-bottom: 0;
    }
    // font-weight: 500;
    &:before {
      content: "";
      border-radius: 100%;
      background: black;
      left: 0;
      top: 0.3rem;
      transform: translateX(-50%);
    }
  }
}

.next {
  border: 1px solid var(--gray-40);
  border-radius: var(--br);
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  &:hover,
  &:focus-visible {
    .pagination-title {
      text-decoration: underline;
    }
  }
}

.pagination {
  grid-column: 2 / 3;
  margin-top: 2rem;
  a {
    display: block;
  }
}

.pagination-label {
  color: var(--gray-50);
  margin-bottom: 0.25rem;
}
.pagination-title {
  font-family: var(--serif);
  font-size: var(--ms-1);
  margin-bottom: 0.5rem;
  text-underline-offset: 0.12em;
  display: flex;
  align-items: baseline;
}
