.header {
  padding: 10rem;
  padding-left: calc(2rem + 15%);
  color: var(--blue-90);
  background: rgb(247, 249, 252);
  border-bottom: 1px solid var(--gray-30);
  padding-bottom: 8rem;
}
.unit {
  font-size: var(--ms--1);
  margin-bottom: 2rem;
  display: block;
  font-weight: 700;
  span {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
    display: block;
  }
}

.title {
  font-size: 4rem;
  font-family: var(--serif);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}
.intro {
  font-family: var(--serif);
  font-weight: 300;
  font-size: 1.65rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  max-width: 30em;
  hyphens: auto;
}
.body {
  display: grid;
  grid-template-columns: 15% 45rem repeat(4, 1fr);
  column-gap: 2rem;
  padding-bottom: 10rem;
  position: relative;
  font-feature-settings: "onum" 1;
  padding-top: 2rem;
  p,
  ol,
  ul,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  table {
    grid-column: 2 / 3;
  }

  figure {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  ol,
  ul {
    margin-left: 1.2em;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.125em;
  }
  p {
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 1.75rem;
    margin-top: 3rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-weight: 700;
    letter-spacing: -0.015em;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 1rem;
    letter-spacing: -0.015em;
    margin-bottom: 0.25rem;
  }
  table {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  td,
  th {
    padding: 0.2rem;
    padding-left: 0;
    padding-right: 1rem;
    border-bottom: 1px solid gray;
  }
  th {
    text-transform: uppercase;
    font-size: var(--ms--1);
    text-align: left;
  }
  p sup,
  li sup {
    font-size: 0.8rem;
    font-family: monospace;
    a {
      text-decoration: none;
      background: transparent;
    }
  }
  strong {
    font-weight: bold;
  }
  p a,
  li a {
    text-decoration: underline;
  }
}

.actions {
  grid-column: 2/3;
  grid-row: span 3;
  padding-top: 2rem;
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 0.75rem;
    font-size: var(--ms--1);
  }
  li {
    position: relative;
  }
  button {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
  img {
    margin-right: 0.2rem;
    height: 1.2rem;
  }
}

.next {
  border: 1px solid var(--gray-40);
  border-radius: var(--br);
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  &:hover,
  &:focus-visible {
    .pagination-title {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }
}

.pagination {
  grid-column: 2 / 3;
  margin-top: 2rem;
  a {
    display: block;
  }
}

.pagination-label {
  color: var(--gray-50);
  display: block;
  margin-bottom: 0.5rem;
}
.pagination-title {
  font-family: var(--serif);
  font-size: var(--ms-2);
  margin-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-underline-offset: 0.12em;
  display: flex;
  align-items: baseline;
}
