.container {
  display: contents;
}
.credit {
  color: var(--gray-50);
  font-size: var(--ms--1);
  font-weight: 400;
  padding-top: 0.1em;
  a {
    text-decoration: underline;
  }
}
.caption {
  font-size: var(--ms--1);
  font-weight: 500;
  grid-column: 2 / 5;
  padding-top: 0.75em;
  line-height: 1.15;
  max-width: 45em;
  margin-bottom: 1rem;
  span {
    display: block;
  }
}
.image {
  margin-top: 1rem;
  width: 100%;
}

.full {
  .image {
    grid-column: 1 / 7;
  }
}

.large {
  .image {
    grid-column: 2 / 5;
  }
}
.medium {
  .image {
    grid-column: 2 / 3;
  }
}

.tiny {
  .image {
    grid-column: 2 / 5;
    width: 8rem;
  }
}
