@import "vars";

.container {
  background: white;
  border: 1px solid var(--gray-50);
  border-radius: var(--br);
  grid-column: 1/ 6;
  @include bp(m) {
    grid-column: 3/ 4;
  }
}

.iframe-container {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  iframe {
    border-bottom: 1px solid var(--gray-50);
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
  }
}

.caption {
  padding: 0.5rem;
  font-size: var(--ms--1);
}
