.container {
  background: var(--gray-10);
  font-size: var(--ms--1);
  position: fixed;
  left: 0rem;
  right: 0rem;
  top: 0;
  border-bottom: 1px solid var(--gray-30);
  box-shadow: 0 1px 4px 0px rgba(black, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  nav {
    display: flex;
  }
  a, span {
    padding: .8rem 1rem;
    display: flex;
    align-items: flex-end;
  }
  span {
    font-weight: 600;
  }
  a {
    border-right: 1px solid var(--gray-30);
    &:hover, &:focus {
      text-decoration: underline;
      background: var(--gray-20);
    }
  }
  button {
    background: var(--gray-20);
    padding: .2rem .5rem;
    border-radius: var(--br);
  }
}
.logo {
  height: 1.3rem;
  margin-right: .5rem;
  display: block;
}
