.container {
  padding: 2rem var(--padding);
  font-size: var(--ms--1);
  background: var(--blue-60);
  color: white;
  p {
    max-width: 60em;
  }
}

.nav {
  margin-bottom: 1rem;
  ul {
    list-style: none;
  }
}
