@import "vars";

.container {
  background: white;
  font-size: var(--ms--1);
  position: fixed;
  left: 0rem;
  right: 0rem;
  top: 0;
  border-bottom: 1px solid var(--gray-50);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navigation-item {
  padding: 0.7rem 1rem;
  padding-top: 0.85rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: underline;
    background: var(--gray-20);
  }
}

.breadcrumbs {
  display: none;
  @include bp(m){
    display: flex;
  }
}

.tools {
  display: flex;
  border-left: 1px solid var(--gray-30);
}
.logo {
  composes: navigation-item;
  position: relative;
  padding-left: 2rem;
  font-weight: 500;
  border-right: 1px solid var(--gray-30);

  img {
    position: absolute;
    height: 1.5rem;
    left: 0;

    top: 50%;
    transform: translateY(-50%);
  }
}

.bookmarks {
  text-align: left;
  font-size: var(--ms-0);
  li {
    list-style: none;
    border-bottom: 1px solid var(--gray-30);
  }
  li:last-of-type {
    border-bottom: 0;
  }
  a {
    padding: 0.75rem;
    display: block;
  }
  a:hover,
  &:focus-visible {
    background: var(--gray-20);
    .bookmark-title {
      text-decoration: underline;
    }
  }
}

.bookmarks-container {
  position: relative;
}

.bookmarks-toggle {
  composes: navigation-item;
  padding-right: 1.75rem;
}
.bookmarks-active {
  opacity: 1;
  transform: translateY(0px);
}
.bookmark-eyebrow {
  display: block;
  font-size: var(--ms--2);
  letter-spacing: .05em;
  margin-bottom: .02em;
  text-transform: uppercase;
}
.bookmark-title {
  display: block;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -.01em;
}

.button-counter {
  background: var(--gray-70);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0.1rem 0.4rem;
  padding-top: 0.2rem;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  right: 0;
}
