.container {
  background: var(--blue-20);
  position: relative;
  cursor: pointer;
  text-align: left;
  font-weight: 600;
  padding: 0 .25em;
}
.title {
  display: block;
  font-weight: 600;
}

.description {
  hyphens: auto;
  font-weight: 400;
}

.content {
  padding: 0.75rem;
}
