.container {
  background: var(--yellow-10);
  text-decoration: underline;
  text-decoration-style: dotted;
  position: relative;
  cursor: pointer;
  text-align: left;
}
.title {
  display: block;
  font-weight: 500;
}

.description {
  hyphens: auto;
}
