.container {
  grid-column: 2/3;
  display: grid;
  position: relative;
  grid-template-columns: max-content 2rem 1fr;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: baseline;
  margin-left: -5rem;
  ol {
    display: contents;
    margin-left: 0;
  }
}

.line {
  width: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  grid-column: 2 / 3;
  background: var(--gray-40);
}

.event {
  padding: 0;
  display: contents;
}

.event-date {
  grid-column: 1/2;
  text-align: right;
  font-size: var(--ms--1);
}
.event-description {
  grid-column: 3/4;
}
.event-title {
  font-weight: 500;
  margin-top: 0;
}
