.container {
  grid-column: 2/3;
  display: grid;
  position: relative;
  grid-template-columns: 1rem 1fr;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: baseline;
  ol {
    display: contents;
    margin-left: 0;
  }
}

.line {
  width: 1px;
  position: absolute;
  top: 1rem;
  bottom: 0;
  display: block;
  grid-column: 1 / 2;
  background: var(--gray-30);
}

.event {
  padding: 0;
  display: contents;
}

.event-date {
  text-align: right;
  font-size: var(--ms--1);
  position: relative;
  font-weight: 400;
  letter-spacing: .02em;
  &:after {
    content: "";
    position: absolute;
    left: -1rem;
    top: 0rem;
    transform: translateX(-50%);
    background: var(--gray-70);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    grid-column: 2/3;
  }
}
.event-description {
  grid-column: 2/3;
}
.event-title {
  font-weight: 500;
  margin-top: 0;
}
